node-red/flows.json
[
  {
    "id": "tab-sinais-vitais",
    "type": "ui_tab",
    "name": "Sinais Vitais",
    "icon": "fa-heartbeat",
    "disabled": false,
    "hidden": false,
    "order": 1
  },
  {
    "id": "tab-alertas",
    "type": "ui_tab",
    "name": "Alertas",
    "icon": "fa-exclamation-triangle",
    "disabled": false,
    "hidden": false,
    "order": 2
  },
  {
    "id": "group-bpm-chart",
    "type": "ui_group",
    "name": "Batimentos Cardíacos (BPM)",
    "tab": "tab-sinais-vitais",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group-gauges",
    "type": "ui_group",
    "name": "Temperatura e Umidade",
    "tab": "tab-sinais-vitais",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group-valores-atuais",
    "type": "ui_group",
    "name": "Valores Atuais e Origem",
    "tab": "tab-sinais-vitais",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group-alerta-status",
    "type": "ui_group",
    "name": "Status de Alerta Médico",
    "tab": "tab-alertas",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group-historico-alertas",
    "type": "ui_group",
    "name": "Histórico de Eventos de Alerta",
    "tab": "tab-alertas",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "mqtt-broker-hivemq",
    "type": "mqtt-broker",
    "name": "HiveMQ Cloud (TLS)",
    "broker": "SEU_BROKER.hivemq.cloud",
    "port": "8883",
    "tls": true,
    "clientid": "nodered-cardioia-fase3",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "3",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "credentials": {
      "user": "SEU_USUARIO_HIVEMQ",
      "password": "SUA_SENHA_HIVEMQ"
    }
  },
  {
    "id": "tls-config-hivemq",
    "type": "tls-config",
    "name": "TLS HiveMQ",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": true
  },
  {
    "id": "node-mqtt-entrada",
    "type": "mqtt in",
    "z": "flow-principal",
    "name": "MQTT IN — cardio/dados",
    "topic": "cardio/dados",
    "qos": "1",
    "datatype": "auto",
    "broker": "mqtt-broker-hivemq",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 80,
    "wires": [["node-parse-json"]]
  },
  {
    "id": "node-parse-json",
    "type": "json",
    "z": "flow-principal",
    "name": "Parse JSON — Payload",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 350,
    "y": 80,
    "wires": [["node-validar-payload"]]
  },
  {
    "id": "node-validar-payload",
    "type": "function",
    "z": "flow-principal",
    "name": "Validar e Enriquecer Payload",
    "func": "// ============================================================\n// Validação e enriquecimento do payload recebido do ESP32\n// Garante que todos os campos obrigatórios existem\n// antes de distribuir para os nós de UI\n// ============================================================\n\nvar payload = msg.payload;\n\n// Validação mínima dos campos esperados\nif (typeof payload !== 'object' || payload === null) {\n    node.warn('[CardioIA] Payload inválido recebido — ignorando mensagem');\n    return null;\n}\n\n// Garantir campos com valores padrão seguros\nvar bpm         = (typeof payload.bpm         === 'number') ? payload.bpm         : 0;\nvar temperatura = (typeof payload.temperatura  === 'number') ? payload.temperatura  : 0;\nvar umidade     = (typeof payload.umidade      === 'number') ? payload.umidade      : 0;\nvar alerta      = (typeof payload.alerta       === 'boolean')? payload.alerta       : false;\nvar origem      = (typeof payload.origem       === 'string') ? payload.origem       : 'desconhecida';\nvar timestamp   = (typeof payload.timestamp    !== 'undefined') ? payload.timestamp : Date.now();\n\n// Recalcular alertas individualmente (para mensagem descritiva)\nvar alertaBPM         = bpm > 120;\nvar alertaTemperatura = temperatura > 38;\nvar alertaUmidade     = umidade < 40 || umidade > 80;\n\n// Hora local formatada para exibição\nvar agora = new Date();\nvar horaLocal = agora.toLocaleTimeString('pt-BR');\n\n// Montar payload enriquecido\nmsg.payload = {\n    bpm:               bpm,\n    temperatura:       temperatura,\n    umidade:           umidade,\n    alerta:            alerta,\n    origem:            origem,\n    timestamp:         timestamp,\n    horaLocal:         horaLocal,\n    alertaBPM:         alertaBPM,\n    alertaTemperatura: alertaTemperatura,\n    alertaUmidade:     alertaUmidade\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 80,
    "wires": [["node-distribuir-dados"]]
  },
  {
    "id": "node-distribuir-dados",
    "type": "function",
    "z": "flow-principal",
    "name": "Distribuidor de Mensagens",
    "func": "// ============================================================\n// Distribuidor: cria cópias do payload para cada saída\n// Saída 1 → Gráfico BPM (chart)\n// Saída 2 → Gauge Temperatura\n// Saída 3 → Gauge Umidade\n// Saída 4 → Cards de valores atuais\n// Saída 5 → Lógica de alerta médico\n// ============================================================\n\nvar p = msg.payload;\n\n// Saída 1: BPM para o gráfico de série temporal\nvar msgBPM = { payload: p.bpm, topic: 'BPM', horaLocal: p.horaLocal };\n\n// Saída 2: Temperatura para gauge\nvar msgTemp = { payload: p.temperatura };\n\n// Saída 3: Umidade para gauge\nvar msgUmid = { payload: p.umidade };\n\n// Saída 4: Dados completos para os cards de texto\nvar msgCards = { payload: p };\n\n// Saída 5: Dados completos para lógica de alerta\nvar msgAlerta = { payload: p };\n\nreturn [msgBPM, msgTemp, msgUmid, msgCards, msgAlerta];",
    "outputs": 5,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 80,
    "wires": [
      ["node-chart-bpm"],
      ["node-gauge-temperatura"],
      ["node-gauge-umidade"],
      ["node-func-cards-valores", "node-debug-dados"],
      ["node-func-alerta"]
    ]
  },
  {
    "id": "node-chart-bpm",
    "type": "ui_chart",
    "z": "flow-principal",
    "name": "Gráfico BPM — Série Temporal",
    "group": "group-bpm-chart",
    "order": 1,
    "width": "12",
    "height": "6",
    "label": "Batimentos por Minuto (BPM)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados do ESP32...",
    "dot": false,
    "ymin": "0",
    "ymax": "160",
    "removeOlder": 1,
    "removeOlderPoints": "30",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#e74c3c",
      "#aec7e8",
      "#ffbb78",
      "#2ca02c",
      "#ff9896",
      "#9467bd",
      "#c5b0d5",
      "#8c564b",
      "#c49c94",
      "#e377c2"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1150,
    "y": 40,
    "wires": [[]]
  },
  {
    "id": "node-gauge-temperatura",
    "type": "ui_gauge",
    "z": "flow-principal",
    "name": "Gauge — Temperatura Corporal",
    "group": "group-gauges",
    "order": 1,
    "width": "6",
    "height": "4",
    "gtype": "gage",
    "title": "Temperatura Corporal",
    "label": "°C",
    "format": "{{value}}°C",
    "min": "35",
    "max": "42",
    "colors": ["#27ae60", "#f39c12", "#e74c3c"],
    "seg1": "37",
    "seg2": "38",
    "diff": false,
    "className": "",
    "x": 1160,
    "y": 100,
    "wires": []
  },
  {
    "id": "node-gauge-umidade",
    "type": "ui_gauge",
    "z": "flow-principal",
    "name": "Gauge — Umidade Relativa",
    "group": "group-gauges",
    "order": 2,
    "width": "6",
    "height": "4",
    "gtype": "gage",
    "title": "Umidade Relativa do Ar",
    "label": "%",
    "format": "{{value}}%",
    "min": "0",
    "max": "100",
    "colors": ["#e74c3c", "#27ae60", "#e74c3c"],
    "seg1": "40",
    "seg2": "80",
    "diff": false,
    "className": "",
    "x": 1160,
    "y": 160,
    "wires": []
  },
  {
    "id": "node-func-cards-valores",
    "type": "function",
    "z": "flow-principal",
    "name": "Formatar Cards de Valores Atuais",
    "func": "// ============================================================\n// Formata os cards de texto com valores atuais e origem\n// Saída 1 → Card BPM\n// Saída 2 → Card Temperatura\n// Saída 3 → Card Umidade\n// Saída 4 → Card Origem/Fonte\n// ============================================================\n\nvar p = msg.payload;\n\n// Card BPM com indicador de alerta\nvar iconeBPM  = p.alertaBPM ? '⚠️' : '💚';\nvar msgBPMCard = { payload: iconeBPM + ' ' + p.bpm + ' BPM' };\n\n// Card Temperatura\nvar iconeTemp = p.alertaTemperatura ? '🔴' : '🟢';\nvar msgTempCard = { payload: iconeTemp + ' ' + p.temperatura.toFixed(1) + ' °C' };\n\n// Card Umidade\nvar iconeUmid = p.alertaUmidade ? '🔶' : '🟢';\nvar msgUmidCard = { payload: iconeUmid + ' ' + p.umidade.toFixed(1) + ' %' };\n\n// Card Origem (tempo_real vs SYNC->CLOUD)\nvar origemLabel = (p.origem === 'tempo_real') ? '📡 Tempo Real' : '🔄 Sincronizado (Offline→Cloud)';\nvar msgOrigem = { payload: origemLabel + ' — ' + p.horaLocal };\n\nreturn [msgBPMCard, msgTempCard, msgUmidCard, msgOrigem];",
    "outputs": 4,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1160,
    "y": 220,
    "wires": [
      ["node-text-bpm"],
      ["node-text-temperatura"],
      ["node-text-umidade"],
      ["node-text-origem"]
    ]
  },
  {
    "id": "node-text-bpm",
    "type": "ui_text",
    "z": "flow-principal",
    "group": "group-valores-atuais",
    "order": 1,
    "width": "3",
    "height": "1",
    "name": "Card BPM Atual",
    "label": "BPM Atual",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1430,
    "y": 200,
    "wires": []
  },
  {
    "id": "node-text-temperatura",
    "type": "ui_text",
    "z": "flow-principal",
    "group": "group-valores-atuais",
    "order": 2,
    "width": "3",
    "height": "1",
    "name": "Card Temperatura Atual",
    "label": "Temperatura",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1430,
    "y": 230,
    "wires": []
  },
  {
    "id": "node-text-umidade",
    "type": "ui_text",
    "z": "flow-principal",
    "group": "group-valores-atuais",
    "order": 3,
    "width": "3",
    "height": "1",
    "name": "Card Umidade Atual",
    "label": "Umidade",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1430,
    "y": 260,
    "wires": []
  },
  {
    "id": "node-text-origem",
    "type": "ui_text",
    "z": "flow-principal",
    "group": "group-valores-atuais",
    "order": 4,
    "width": "3",
    "height": "1",
    "name": "Card Origem do Dado",
    "label": "Fonte",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1430,
    "y": 290,
    "wires": []
  },
  {
    "id": "node-func-alerta",
    "type": "function",
    "z": "flow-principal",
    "name": "Lógica de Alerta Médico",
    "func": "// ============================================================\n// Determina o status de alerta e monta mensagem descritiva\n// Classifica qual parâmetro causou o alerta\n// Saída 1 → Texto do status (NORMAL / ALERTA ATIVO)\n// Saída 2 → Mensagem descritiva do alerta\n// Saída 3 → Controle da cor do painel (0=verde, 1=vermelho)\n// Saída 4 → Histórico de eventos (apenas quando alerta=true)\n// ============================================================\n\nvar p = msg.payload;\n\nvar statusTexto;\nvar mensagemDescritiva;\nvar corIndicador;   // 0 = NORMAL (verde), 1 = ALERTA (vermelho)\nvar msgHistorico = null;\n\nif (p.alerta === true) {\n    // Montar lista de parâmetros em alerta\n    var parametrosAlerta = [];\n    \n    if (p.alertaBPM) {\n        parametrosAlerta.push('TAQUICARDIA — BPM: ' + p.bpm);\n    }\n    if (p.alertaTemperatura) {\n        parametrosAlerta.push('FEBRE — Temp: ' + p.temperatura.toFixed(1) + '°C');\n    }\n    if (p.alertaUmidade) {\n        var motivo = (p.umidade < 40) ? 'muito baixa' : 'muito alta';\n        parametrosAlerta.push('UMIDADE ' + motivo.toUpperCase() + ' — ' + p.umidade.toFixed(1) + '%');\n    }\n    \n    // Fallback: se campo alerta=true mas nenhum critério individual disparou\n    if (parametrosAlerta.length === 0) {\n        parametrosAlerta.push('ALERTA DETECTADO PELO DISPOSITIVO');\n    }\n    \n    statusTexto       = '🚨 ALERTA ATIVO';\n    mensagemDescritiva = parametrosAlerta.join(' | ');\n    corIndicador      = 1;\n    \n    // Registrar no histórico\n    msgHistorico = {\n        payload: '[' + p.horaLocal + '] ⚠️ ' + mensagemDescritiva\n    };\n    \n} else {\n    statusTexto        = '✅ NORMAL';\n    mensagemDescritiva = 'Todos os parâmetros dentro dos limites normais.';\n    corIndicador       = 0;\n}\n\nvar msgStatus     = { payload: statusTexto };\nvar msgMensagem   = { payload: mensagemDescritiva };\nvar msgCor        = { payload: corIndicador };\n\nreturn [msgStatus, msgMensagem, msgCor, msgHistorico];",
    "outputs": 4,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1160,
    "y": 320,
    "wires": [
      ["node-text-status-alerta"],
      ["node-text-mensagem-alerta"],
      ["node-ui-led"],
      ["node-text-historico"]
    ]
  },
  {
    "id": "node-text-status-alerta",
    "type": "ui_text",
    "z": "flow-principal",
    "group": "group-alerta-status",
    "order": 1,
    "width": "12",
    "height": "2",
    "name": "Indicador de Status — NORMAL / ALERTA",
    "label": "Status do Paciente",
    "format": "<span style='font-size:2.5em; font-weight:bold;'>{{msg.payload}}</span>",
    "layout": "row-center",
    "className": "",
    "x": 1440,
    "y": 300,
    "wires": []
  },
  {
    "id": "node-text-mensagem-alerta",
    "type": "ui_text",
    "z": "flow-principal",
    "group": "group-alerta-status",
    "order": 2,
    "width": "12",
    "height": "1",
    "name": "Mensagem Descritiva de Alerta",
    "label": "Detalhes",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1440,
    "y": 330,
    "wires": []
  },
  {
    "id": "node-ui-led",
    "type": "ui_led",
    "z": "flow-principal",
    "group": "group-alerta-status",
    "order": 3,
    "width": "4",
    "height": "1",
    "name": "LED — Indicador Visual de Alerta",
    "label": "Alerta",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#27ae60",
        "value": "0",
        "valueType": "num"
      },
      {
        "color": "#e74c3c",
        "value": "1",
        "valueType": "num"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "x": 1440,
    "y": 360,
    "wires": []
  },
  {
    "id": "node-text-historico",
    "type": "ui_text",
    "z": "flow-principal",
    "group": "group-historico-alertas",
    "order": 1,
    "width": "12",
    "height": "8",
    "name": "Histórico de Eventos de Alerta",
    "label": "Eventos Registrados",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "className": "",
    "x": 1440,
    "y": 400,
    "wires": []
  },
  {
    "id": "node-debug-dados",
    "type": "debug",
    "z": "flow-principal",
    "name": "DEBUG — Payload Completo",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1170,
    "y": 380,
    "wires": []
  },
  {
    "id": "flow-principal",
    "type": "tab",
    "label": "CardioIA — Fase 3",
    "disabled": false,
    "info": "Fluxo principal do sistema de monitoramento cardíaco CardioIA.\nFIAP — Curso de IA, Fase 3.\n\nEstrutura:\n  1. MQTT IN: recebe dados do ESP32 via HiveMQ Cloud (TLS 8883)\n  2. Parse JSON: converte payload string → objeto JS\n  3. Validar e Enriquecer: garante campos mínimos e calcula alertas individuais\n  4. Distribuidor: encaminha cópias para cada widget de UI\n  5. Gráfico BPM: série temporal dos últimos 30 pontos\n  6. Gauge Temperatura: 35–42°C com faixas coloridas\n  7. Gauge Umidade: 0–100% com zona normal 40–80%\n  8. Cards: BPM, Temperatura, Umidade, Origem do dado\n  9. Alerta Médico: status + mensagem descritiva + LED + histórico\n\nPacotes necessários:\n  - node-red-dashboard (ui_chart, ui_gauge, ui_text, ui_led)\n\nConfigure o nó MQTT IN com seu broker HiveMQ Cloud."
  },
  {
    "id": "comment-entrada",
    "type": "comment",
    "z": "flow-principal",
    "name": "=== BLOCO 1: ENTRADA DE DADOS MQTT ===",
    "info": "Recebe mensagens do broker HiveMQ Cloud no tópico cardio/dados.\nO payload chega como string JSON e é convertido pelo nó Parse JSON.",
    "x": 200,
    "y": 30,
    "wires": []
  },
  {
    "id": "comment-distribuicao",
    "type": "comment",
    "z": "flow-principal",
    "name": "=== BLOCO 2: DISTRIBUIÇÃO PARA WIDGETS DE UI ===",
    "info": "O Distribuidor cria 5 saídas independentes com cópias do payload.\nCada saída alimenta um grupo de widgets no dashboard.",
    "x": 900,
    "y": 30,
    "wires": []
  },
  {
    "id": "comment-alertas",
    "type": "comment",
    "z": "flow-principal",
    "name": "=== BLOCO 3: ALERTAS E HISTÓRICO ===",
    "info": "A lógica de alerta avalia os campos alertaBPM, alertaTemperatura e alertaUmidade.\nRegistros de alerta são adicionados ao painel de histórico na Tab 'Alertas'.",
    "x": 1160,
    "y": 270,
    "wires": []
  }
]
